:root{
  --main-color:#012970;

  --input-padding-x: 1.5rem;
  --input-padding-y: .75rem;
}

body {
  width: 100%;
  height: 100vh;
  background: url(../img/main-bg.png) top center no-repeat;
  background-size: cover;
}

h1 {
  color: var(--main-color);
}

.navbar {
  background-color: #c6cdd7;
}

.navbar a {
  color: #fff;
}

.navbar a:hover {
  color: var(--main-color);
}

.logout {
  color: #730517;
  padding-left: 20px;
}

.logout:hover {
  color: #f44560;
}

/* Page d'accueil */

.main h1 {
  padding-right: 130px;
  font-size: 48px;
  font-weight: 700;
}

.main h2 {
  color: #444444;
  margin: 15px 0 0 0;
  font-size: 26px;
}

.main .main-img {
  margin-bottom: 350px;
  text-align: right;
}

@media (min-width: 1024px) {
  .main {
    background-attachment: fixed;
  }
}

@media (max-width: 991px) {
  .main {
    height: auto;
    padding: 120px 0 60px 0;
  }
  .main .main-img {
    text-align: center;
    margin-top: 80px;
  }
  .main .main-img img {
    width: 80%;
  }
}

@media (max-width: 768px) {
  .main {
    text-align: center;
  }
  .main h1 {
    font-size: 32px;
  }
  .main h2 {
    font-size: 24px;
  }
  .main .main-img img {
    width: 100%;
  }
}

.add {
  border: 1px solid black;
  border-radius: 50px;
  background: var(--main-color);
  color: #fff;
}

.add:hover {
  background-color: #fff;
  color: var(--main-color);
  transition: ease-in-out 0.5s;
}

.addCategorie {
  width: 200px;
}

.addProduct {
  width: 250px;
}

/* Page Register */

.card-register {
  border: 0;
  border-radius: 1rem !important;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.card-register .card-title {
  margin-bottom: 2rem;
  font-weight: 300;
  font-size: 1.5rem;
}

.card-register .card-img-left {
  width: 65%;
  background: scroll center url('../img/values-2.png');
  background-size: cover;
}

.card-register .card-body {
  padding: 2rem;
}

.form-register {
  width: 100%;
}

.form-register .btn {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  transition: all 0.2s;
  background-color: var(--main-color);
}

/* Page Login */

.card-signin {
  border: 0;
  border-radius: 1rem !important;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.card-signin .card-title {
  margin-bottom: 2rem;
  font-weight: 300;
  font-size: 1.5rem;
}

.card-signin .card-img-left {
  width: 65%;
  background: scroll center url('../img/values-3.png');
  background-size: cover;
}

.card-signin .card-body {
  padding: 2rem;
}

.form-signin {
  width: 100%;
}

.form-signin .btn {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  transition: all 0.2s;
  background-color: var(--main-color);
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group input {
  height: auto;
  border-radius: 2rem;
}

.form-label-group>input,
.form-label-group>label {
  padding: var(--input-padding-y) var(--input-padding-x);
}

.form-label-group>label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0;
  line-height: 1.5;
  color: #495057;
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}


.form-label-group input:not(:placeholder-shown) {
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
  padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown)~label {
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
  font-size: 12px;
  color: #777;
}

/* Form Add Produit */

.form_add_product{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  }
  .form_add_product form {
  padding: 25px;
  margin: 25px;
  }
  .fas {
  margin: 25px 10px 0;
  font-size: 72px;
  color: #666;
  }
  .fa-drumstick-bite {
  transform: rotate(-20deg);
  }
  .fa-cookie-bite, .fa-wine-bottle{
  transform: rotate(10deg);
  }
  .form_add_product input, .form_add_product select {
  width: calc(100% - 18px);
  padding: 8px;
  margin-bottom: 20px;
  border: 1px solid var(--main-color);
  outline: none;
  }

  .form_add_product input::placeholder {
  color: #666;
  }
  .add_product {
  width: 100%;
  padding: 10px;
  border: none;
  background: var(--main-color); 
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  }
  .form_add_product button:hover {
  background: #1c87c9;
  }    
  @media (min-width: 568px) {
  .form_add_product {
  flex-direction: row;
  }
  .left-part, form {
  width: 50%;
  }
  .fa-drumstick-bite {
  margin-top: 0;
  margin-left: 20%;
  }
  .fa-shopping-cart {
    margin-top: -10%;
    margin-left: 65%;
    }
  .fa-wine-bottle {
  margin-top: 2%;
  margin-left: 28%;
  }
  }

  /* Form Add Categorie */

  .form_add_categorie{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    }
    .form_add_categorie form {
    padding: 25px;
    margin: 25px;
    }
    .fas {
    margin: 25px 10px 0;
    font-size: 72px;
    color: #666;
    }
    .fa-apple-alt {
    transform: rotate(-20deg);
    }
    .fa-shopping-cart, .fa-wine-bottle{
    transform: rotate(10deg);
    }
    .form_add_categorie input {
    width: calc(100% - 18px);
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid var(--main-color);
    outline: none;
    }
  
    .form_add_categorie input::placeholder {
    color: #666;
    }
    .add_categorie {
    width: 100%;
    padding: 10px;
    border: none;
    background: var(--main-color); 
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    }
    .form_add_categorie button:hover {
    background: #1c87c9;
    }    
    @media (min-width: 568px) {
    .form_add_categorie {
    flex-direction: row;
    }
    .left-part, form {
    width: 50%;
    }
    .fa-apple-alt {
    margin-top: 0;
    margin-left: 20%;
    }
    .fa-cookie-bite {
      margin-top: -10%;
      margin-left: 65%;
      }    
    .fa-wine-bottle {
    margin-top: 2%;
    margin-left: 28%;
    }
    }